.wrapper-new-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 160px;
    background-color: white;
    margin-top: 30px;
    border: 3px solid rgb(5, 97, 97);
    border-radius: 5px;
    /* border: 2px solid green; */
}

.new-post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(5, 97, 97);
}

.header-new-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.new-post-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
}

.wrapper-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.img-add-post {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.new-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
}

.textarea {
    width: 1065px;
    min-height: 80px;
    border: 2px solid rgb(90, 131, 131);
    margin-top: 10px;
    border-radius: 5px;
}

.addBtn {
    position: absolute;
    width: 160px;
    height: 40px;
    right: 1.75%;
    bottom: 10%;
    background-color: rgb(52, 52, 127);
    color: white;
    border: none;
    border-radius: 5px;
}

.addBtn:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 92);
}
