.btn-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    height: 40px;
    color: white;
    background-color: rgb(52, 52, 127);
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-posts:hover {
    background-color: rgb(34, 34, 92);
}

.change-post, .delet-post {
    width: 160px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
}

.change-post {
    background-color: rgb(52, 52, 127);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding-top: 12px;
}

.delet-post {
    background-color: red;
}

.change-post:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 92);
}

.delet-post:hover {
    cursor: pointer;
    background-color: rgb(133, 8, 8);
}
